[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio-tools = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
grpc_gen_core = "python -m grpc_tools.protoc -I./grpc_src/ --python_out=./grpc_src/proto_core/ --pyi_out=./grpc_src/proto_core/ --grpc_python_out=./grpc_src/proto_core/ ./grpc_src/service.proto"
grpc_start_server = "python ./grpc_src/service_server.py"
grpc_start_client = "python ./grpc_src/service_client.py"
